<mat-dialog-content>
    <div class="card" *ngFor="let comment of comments">
        <div class="card-body">
            {{comment.comment}}
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <form [formGroup]="form" (ngSubmit)="postComment()">
        <p><input formControlName="commentaire" placeholder="Votre Commentaire" type="text" width="100%" class="form-control">&nbsp;<button type="submit" class="btn btn-primary">Envoyer</button></p>
    </form>
</mat-dialog-actions>
